.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

 .trigger:hover {
  color: #336593;
}

.text-field {
  color: #85839C;
  font-size: 10px;
  font-style: italic;
  text-align: left;
  margin: 8px;
}

 .logo {
  height: 90px;
  /* margin: 16px; */
  position: relative;
  background: rgb(0, 0, 0);
}

.site-layout .site-layout-background {
  background: rgb(201, 201, 201);
}

.input {
  border-radius: 5;
  margin-left: 0 !important;
}

.layout {
  min-height: 100vh;

}

.ant-form-item-label label{
  font-size: 20px;
}