.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

 .trigger:hover {
  color: #336593;
}

 .logo {
  height: 32px;
  margin: 16px;
  background: rgb(255, 255, 255);
}

.site-layout .site-layout-background {
  background: rgb(213, 207, 207);
}

.input {
  border-radius: 5;
  margin-left: 0 !important;
}

.layout {
  height: 100vh;
}